
* {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 0 auto;
    height: 550px;
    width: 800px;
    background-color: cornflowerblue;
    flex-direction: column;
}

.container__header {
    flex-direction: column;
    height: 250px;
    box-sizing: border-box;
    border: 3px solid deepskyblue;
    border-radius: 30px;
    padding: 15px;
}

.container__header_text {
    margin: auto;
    padding: 5px;
}

.container__header_reviews-article {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.container__header_reviews-article-text {
    margin: auto;
    padding: 5px;
}

.container__header_reviews-article-photo {
    height: 100px;
    width: 120px;
    border-radius: 10px;
    background-color: midnightblue;
}

.container__footer {
    flex-direction: row;
    height: 250px;
    width: 800px;
    box-sizing: border-box;
    padding: 15px;
    margin: 20px;
    justify-content: space-around;
    background-color: midnightblue;
}

.container__footer_reviews {
    flex-direction: column;
}

.container__footer_reviews-article-photo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: cornflowerblue;
}

.container__footer_reviews-article-text {
    margin: auto;
    padding: 5px;
    font-style: oblique;
    text-decoration-color: cornflowerblue;
}

.a {
    color: white;
}

#border {
    border: 1px solid deepskyblue;
    padding: 35px;
}
